# used DSL library
/message-generator-dsl/

# IDE
.idea

# purescript-specific files/folders
/output/
/.spago/
/.purs-repl
/.psc-ide-port


# files/folders with sensetive telegram data
/_td_database/
/data/
/_td_files/
.env

# telegram-specific library
/td/
/td
td


# node-specific folders
/bower_components/
/node_modules/
